html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.title{
  height: 500px;
  border: 1px solid red;
  text-align: center;
  background: no-repeat center url("../img/bg.jpg");
  background-size: cover;
}

.title h1{
  text-shadow: 1px 1px 2px purple;
}

.nav-bar{
  height: auto;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #070418;
  width: 100%;
}

.nav-bar li{
  float: left;
  background-color: #00aed0;
  border-right: 1px solid #070418;
}

.nav-bar li:hover{
  background-color: #04f4f9;
}

.nav-bar a{
  display: block;
  color: #070418;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  width: 25%;
  margin: 20px;
  padding: 10px;
}
